.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.box:hover {
  transform: translateY(-5px);
}

.static-text-label {
  font-size: 1.25rem;
  color: #333;
}

.static-text-container {
  padding: 20px;
  margin-top: 20px;
  border: 2px solid #007acc;
  border-radius: 10px;
  background-color: #e0f7ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.static-text-container:hover {
  transform: translateY(-5px);
}

.static-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007acc;
}

.heading {
  font-size: 2rem;
  color: #007acc;
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007acc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005f99;
}
